<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE menu SYSTEM "menu.dtd">
<menu>
    <meals>
        <meal>
            <mealName>Beetroot and feta salad</mealName>
            <mealPrice>$15.00</mealPrice>
            <mealDescription>Suitable for vegetarians, made with fresh beetroot</mealDescription>
            <mealImage>beetroot-feta-salad.jpg</mealImage>
        </meal>
        <meal>
            <mealName>Sourdough Rye Sandwich</mealName>
            <mealPrice>$18.00</mealPrice>
            <mealDescription>Cheese and salad sandwich made with organic, sourdough rye bread</mealDescription>
            <mealImage>sourdough-rye-sandwich.jpg</mealImage>
        </meal>
        <meal>
            <mealName>Spinach Pie and Salad</mealName>
            <mealPrice>$20.00</mealPrice>
            <mealDescription>Tasty pie with salad</mealDescription>
            <mealImage>spinach-pie-salad.jpg</mealImage>
        </meal>
        <meal>
            <mealName>Feta pancakes with salad</mealName>
            <mealPrice>$19.50</mealPrice>
            <mealDescription>Tasty pancake filled with feta and salad</mealDescription>
            <mealImage>feta-pancakes-salad.jpg</mealImage>
        </meal>
    </meals>

    <beverages>
        <beverage>
            <beverageName>Coffee</beverageName>
            <sizes>
                <size>
                    <sizeName>Small</sizeName>
                    <sizePrice>$3.50</sizePrice>
                    <sizeDescription>For coffee, please inform the staff of the coffee type.</sizeDescription>
                </size>
                <size>
                    <sizeName>Regular</sizeName>
                    <sizePrice>$4.00</sizePrice>
                    <sizeDescription>Standard size for coffee.</sizeDescription>
                </size>
                <size>
                    <sizeName>Large</sizeName>
                    <sizePrice>$4.50</sizePrice>
                    <sizeDescription>Extra-large coffee.</sizeDescription>
                </size>
            </sizes>
            <beverageImage>coffee.jpg</beverageImage>
        </beverage>
        <beverage>
            <beverageName>Hot Chocolate</beverageName>
            <sizes>
                <size>
                    <sizeName>Small</sizeName>
                    <sizePrice>$3.50</sizePrice>
                    <sizeDescription>Delicious hot chocolate.</sizeDescription>
                </size>
                <size>
                    <sizeName>Regular</sizeName>
                    <sizePrice>$4.00</sizePrice>
                    <sizeDescription>Standard size for hot chocolate.</sizeDescription>
                </size>
                <size>
                    <sizeName>Large</sizeName>
                    <sizePrice>$4.50</sizePrice>
                    <sizeDescription>Extra-large hot chocolate.</sizeDescription>
                </size>
            </sizes>
            <beverageImage>hot-chocolate.jpg</beverageImage>
        </beverage>
        <beverage>
            <beverageName>Soda</beverageName>
            <beveragePrice>$3.00</beveragePrice>
            <beverageImage>soda.jpg</beverageImage>
        </beverage>
        <beverage>
            <beverageName>Fresh juice</beverageName>
            <beveragePrice>$6.00</beveragePrice>
            <beverageImage>fresh-juice.jpg</beverageImage>
        </beverage>
        <beverage>
            <beverageName>Bottled water</beverageName>
            <beveragePrice>$2.00</beveragePrice>
            <beverageImage>bottled-water.jpg</beverageImage>
        </beverage>
    </beverages>
</menu>
